<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	    
	<div th:replace="fragment/head-include::head-inc-bootstrap" ></div>
	<title>ES Korean Lang. Test Bed -</title>
</head>

<body>
	<div th:replace="fragment/top-menu::top-menu"></div>

	<br/>
	<hr/>
	<ul>
		<li> This is the spring boot application for elasticsearch 5.6 </li>
		<li> sysdate from server: [ <span th:text="${maSysDate}"></span>  ] </li>
		<li> 한글은 어떻게 잘 나올까요? </li>
		<li>There is test case Since the end</li>
		<li><button class="btn btn-primary btn-xs">test button</button></li>
	</ul>
	<hr/>
	
	<div class="kr-bn-serif">
		<ul>
			<li>한글 명조 테스트 입니다.</li>
		</ul>
	</div>
	
</body>

</html>