<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	    
	<div th:replace="fragment/head-include::head-inc-bootstrap" ></div>
	<title>ES Korean Lang. Test Bed -</title>
</head>

<body>
	<div th:replace="fragment/top-menu::top-menu"></div>
	<hr/>
	<hr/>
	
	<div class="container">
	
		<div class="panel panel-primary">		
			<div class="panel-body" >
				<ul>
					<li>
						List Index: <br/><br/>			
						<ul th:each="v:${maListIndex}">
							<li th:text="${v}" />
						</ul>						
					</li>		
				</ul>
			</div><!-- ./panel-body -->
		</div><!-- ./panel panel-info -->
		
	</div><!--./container -->
	
</body>

</html>