<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	    
	<div th:replace="fragment/head-include::head-inc-bootstrap" ></div>
	<title>ES Korean Lang. Test Bed -</title>
</head>

<body>
	<div th:replace="fragment/top-menu::top-menu"></div>
	<hr/><hr/><hr/>
	
	<div class="container">
	
		<div class="row">
		
			<div class="col-xs-2">
				<a class="list-group-item active text-center" style=""> task</a>
				<a href="" th:href="@{/es/sample/list}" class="list-group-item">list</a>
				<a href="" th:href="@{/es/sample/edit/0}" class="list-group-item">new</a>
				<a id="aDel" class="list-group-item">delete</a>				
			</div><!-- ./col-xs-2 -->
		
			<div class="col-xs-10">
				<div class="bs-callout bs-callout-primary" style="box-shadow: 2px 2px #DDDDDD;">		

						<form id="frm" action="" method="post" class="form" th:object="${maBbs}" th:action="@{/es/sample/edit/}+${maBbs.id}">
							<table class="table no-border table-condensed  table-striped">
								<tr>
									<td class="text-center" width="20%">item</td>
									<td class="text-center" width="80%">description</td>
								</tr>
								<tr>
									<td class="text-right" >id:</td>
									<td class="" >
										<input type="text" class="form-control" th:field="*{id}"/>
									</td>
								</tr>
								<tr>
									<td class="text-right" >subject:</td>
									<td class="" >
										<input type="text" class="form-control" th:field="*{subject}"/>
									</td>
								</tr>
								<tr>
									<td class="text-right" >note:</td>
									<td class="" >
										<textarea class="form-control" th:field="*{note}" rows="10" cols="80"></textarea>
									</td>
								</tr>
								<tr>
									<td class="text-right" >dateCreated:</td>
									<td class=""  th:text="${maBbs.dateCreated}">										
									</td>
								</tr>
								<tr>
									<td class="text-right" >&nbsp;</td>
									<td class="" >
										<input type="submit" class="btn btn-primary btn-sm" value="Submit" style="width:120px;" />
									</td>
								</tr>
							</table>
						</form>
					
				</div><!-- ./panel panel-info -->
			</div><!-- ./col-xs-10 -->
		
		</div><!-- ./row -->		
	</div><!--./container -->
	
	
<!-- ### SCRIPT (BEGIN) ######################################################################### -->	
<script th:inline="javascript">
/*<![CDATA[*/

$("#aDel").click(function() {
	var varConfirm = confirm("Are you sure to delete?");
	if(varConfirm==true) {
		var varCtxUrl = [[@{/es/sample/delete/}+${maBbs.id}]];
		$("#frm").attr("action",varCtxUrl);
		$("#frm").submit();		
	} else {
		return;
	}
});	
	
/*]]>*/	
</script>	
<!-- ### SCRIPT ( END ) ########################################################################## -->	
	
	
	
</body>
</html>