<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	    
	<div th:replace="fragment/head-include::head-inc-bootstrap" ></div>
	<title>ES Korean Lang. Test Bed -</title>
</head>

<body>
	<div th:replace="fragment/top-menu::top-menu"></div>
	<hr/><hr/><hr/>
	
	<div class="container">	
	
		<div class="row">
			<form id="frmSrch" class="form form-inline" method="get" action="" th:action="@{/es/sample/kr/qry/match}">
				<table class="table table-condensed">
					<tr>
						<td width="20%">
							<a href="" th:href="@{/es/sample/kr/edit/0}" class="btn btn-primary btn-sm"  style="width:100px">New</a>
						</td>
						<td  width="80%" class="text-right">
							<input type="text" class="form-control" name="qryKey" value="" th:value="${maSrchKey}" style="width:400px;"/>
							<button id="btnMatchToken" class="btn btn-primary btn-sm" style="width:100px">Match(Token)</button>
							<button id="btnTerm" class="btn btn-primary btn-sm"  style="width:100px">Term Qry</button>
							<button id="btnWildcard" class="btn btn-primary btn-sm"  style="width:100px">Wildcard</button>
							<button id="btnMatchAll" class="btn btn-primary btn-sm"  style="width:100px">Match All</button>
						</td>
					</tr>
				</table>			
			</form>
		</div><!-- ./row -->
	
	
		<div class="row">
		
			<table class="table table-condensed ">
				<tr>
					<td class="text-center" width="10%">id</td>
					<td class="text-center" width="20%">date</td>
					<td class="text-center" width="70%">subject / note</td>
				</tr>
								
				<div th:each="v:${maListBbs}">
					<tr>
						<td class="text-center"  >
							<a href="" th:text="${v._id}" th:href="@{/es/sample/kr/edit/}+${v._id}"></a>
						</td>
						<td class="text-center" th:text="${{v.date_created}}">date</td>
						<td class="text-left" th:text="${v.subject}">subject</td>
					</tr>
					<tr>
						<td colspan="3" th:text="${v.note}"  style=""></td>
					</tr>		
					<tr>
						<td colspan="3" th:utext="${v.HGLT_VALUE}"></td>
					</tr>				
					<tr>
						<td colspan="3"></td>
					</tr>										
				</div>
			</table>

		</div><!-- ./row -->		
	</div><!--./container -->
	
<!-- ### SCRIPT (BEGIN) ###### -->	
<script th:inline="javascript">
/*<![CDATA[*/

$("#btnMatchToken").click(function() {
	var varCtxUrl = [[@{/es/sample/kr/qry}]];
	$("#frmSrch").attr("action",varCtxUrl + "/match");
	$("#frmSrch").submit();
});	
	
$("#btnTerm").click(function() {
	var varCtxUrl = [[@{/es/sample/kr/qry}]];
	$("#frmSrch").attr("action",varCtxUrl + "/term");
	$("#frmSrch").submit();
});	

$("#btnWildcard").click(function() {
	var varCtxUrl = [[@{/es/sample/kr/qry}]];
	$("#frmSrch").attr("action",varCtxUrl + "/wildcard");
	$("#frmSrch").submit();
});	

$("#btnMatchAll").click(function() {
	var varCtxUrl = [[@{/es/sample/kr/qry}]];
	$("#frmSrch").attr("action",varCtxUrl + "/match_all");
	$("#frmSrch").submit();
});	

/*]]>*/	
</script>	
<!-- ### SCRIPT ( END ) ###### -->	
	
	
	
</body>

</html>