<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	    
	<div th:replace="fragment/head-include::head-inc-bootstrap" ></div>
	<title>ES Korean Lang. Test Bed -</title>
</head>

<body>
	<div th:replace="fragment/top-menu::top-menu"></div>
	
	<br/><br/>
	
	<div class="container">
	
		<hr/>		
		<div class="row">
		
	        <div class="col-xs-12">
	            <div class="text-center">
	                <h1>
	                    Oops!
					</h1>
	                <h2>
	                    System / Req. Errors
					</h2>
	                <div class="error-details">
	                    Sorry,Requested page not work!	                    
	                </div>
	                <br/>
	                <div class="error-actions">

	                    <button id="btnBack"  class="btn btn-success btn-sm" style="width:150px;">
	                    	<span class="glyphicon glyphicon-circle-arrow-left"></span> 
	                    	Take Me Back 
	                    </button>

	                    <a href="" th:href="@{/}" class="btn btn-primary btn-sm" style="width:150px;">
	                    	<span class="glyphicon glyphicon-home"></span>
	                        Go Home 
	                    </a>
	                </div>
	            </div>
	            <br/>
	            <br/>
	        </div>
		
		</div><!-- ./row -->	
	</div>
	
<!-- ### SCRIPT (BEGIN) ################################################## -->
<script>

$("#btnBack").click(function() {
	window.history.back();
});

</script>
<!-- ### SCRIPT (BEGIN) ################################################## -->
</body>	
</html>