<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	    
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Head Includes</title>
	
	<!-- ### th:fragment (begin) ######################################################################## -->
	<div th:fragment="head-inc-bootstrap">
	
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	    
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="stylesheet" href="" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" ></link>
		<link rel="stylesheet" href="" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"></link>
	
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
		<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet"></link>
	
		<link rel="stylesheet" href="" th:href="@{/css/custom.css}" />
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->	
	    
		<!-- jQuery Version 1.11.0 -->
		<script src="" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>    
	</div>
	<!-- ### th:fragment ( end ) ######################################################################## -->		
</head>

<body>
	
</body>

</html>