<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	       
	<title>Top Menu</title>			
</head>
<body>

<!-- ### th:fragment="top-menu" (BEGIN) ###################################################### -->
<div th:fragment="top-menu">

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">

			<!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	        	
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            
	            <a class="navbar-brand" href="" th:href="@{/}" style="font-size:14px; color: white;">            	
	            	Elasticsearch 5.6 Test Bed
	            </a>
	            
	        </div>

			<div class="collapse navbar-collapse" id="">
				<ul class="nav navbar-nav navbar-right">
				
				    <li class="dropdown">
            			<a href="" th:href="@{/}">Quick Menu</a>
            		</li> 
											
	            	<li class="dropdown">
	            		<a href="#"  class="dropdown-toggle" data-toggle="dropdown">Es.Index  <b class="caret"></b></a>
	       		        <ul class="dropdown-menu">
	       					<li>
	       						<a href="" th:href="@{/es/index/list}">1. List Index.</a>
	       					</li>      					
	       				</ul>
	            	</li> 

	            	<li class="dropdown">
	            		<a href="#"  class="dropdown-toggle" data-toggle="dropdown">Es.Sample CRUD  <b class="caret"></b></a>
	       		        <ul class="dropdown-menu">
	       					<li>
	       						<a href="" th:href="@{/es/sample/list}">1. match_all</a>
	       						<a href="" th:href="@{/es/sample/edit/0}">2. edit: create</a>
	       					</li>      					
	       				</ul>
	            	</li> 

	            	<li class="dropdown">
	            		<a href="#"  class="dropdown-toggle" data-toggle="dropdown">Open-Kr-Token(Phrase) <b class="caret"></b></a>
	       		        <ul class="dropdown-menu">
	       					<li>
	       						<a href="" th:href="@{/es/sample/kr/list}">1. match_all</a>
	       						<a href="" th:href="@{/es/sample/kr/edit/0}">2. edit: create</a>
	       					</li>      					
	       				</ul>
	            	</li> 

	            	<li class="dropdown">
	            		<a href="#"  class="dropdown-toggle" data-toggle="dropdown">MLIS Qry <b class="caret"></b></a>
	       		        <ul class="dropdown-menu">
	       					<li>
	       						<a href="" th:href="@{/mlis/qry}">1. sample</a>
	       					</li>      					
	       				</ul>
	            	</li> 

	            	<li class="dropdown">
	            		<a href="#"  class="dropdown-toggle" data-toggle="dropdown">MLIS OraView <b class="caret"></b></a>
	       		        <ul class="dropdown-menu">
	       					<li>
	       						<a href="" th:href="@{/mlis/ora/mlaw/list}">1. list Law Item</a>
	       					</li>      					
	       				</ul>
	            	</li> 
	            	
				</ul>				
			</div>
		</div>	
	</nav>

</div><!-- ./th:fragment="top-menu" -->
<!-- ### th:fragment="top-menu" ( END ) ###################################################### -->

</body>
</html>